@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-Regular-DgxWDqdj.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-Medium-DYkmydED.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-SemiBold-DrfcEYX2.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-Bold-CmzkzBEx.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Barlow", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}